/*CONTENEDOR GENERAL*/
.subcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/*MAIN*/
.main {
  background-image: linear-gradient(to bottom, var(--gradient-light-slate-blue), var(--gradient-light-royal-blue));
  text-align: center;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.main-header {
  color: var(--neutral-light-lavender);
  font-size: 0.70rem;
  text-align: center;
  padding: 20.5px 0;
}

.main-percentage {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  font-weight: bold;
  margin: auto;
  background-image: linear-gradient(to bottom, var(--gradient-violet-blue) 40%, var(--gradient-persian-blue) 95%, transparent 100%);
  margin-bottom: 14px;
}

.main-percentage p {
  margin: auto;
  font-size: 3rem;
  color: var(--neutral-white);
}

.main-percentage p>span {
  display: block;
  font-weight: normal;
  font-size: 0.8rem;
  color: var(--neutral-pale-blue);
}

.main-paragraph {
  color: var(--neutral-white);
  padding: 18.5px 16px;
  max-width: 400px;
  margin: auto;
}

.main-paragraph h2 {
  margin-bottom: 19px;
  letter-spacing: 1px;
}

.main-paragraph p {
  line-height: 1.4;
  margin-bottom: 23.5px;
  color: var(--neutral-pale-blue);
}

/*ASIDE*/
.aside {
  padding: 30px 0;
}

.aside-header {
  color: var(--neutral-dark-gray-blue);
  text-align: left;
}

.aside-content {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.aside-card {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  border-radius: 12px;
}

/*Asignación por elementos*/
.aside-card-reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.aside-card-memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.aside-card-verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.aside-card-visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.aside-card-title {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.2rem;
  margin-left: 1.5rem;
}

/*Titulo por elementos*/

.aside-card-title-reaction {
  color: var(--primary-light-red);
}

.aside-card-title-memory {
  color: var(--primary-orangey-yellow);
}

.aside-card-title-verbal {
  color: var(--primary-green-teal);
}

.aside-card-title-visual {
  color: var(--primary-cobalt-blue);
}

.aside-card-title::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 0;
}

/*Fondo por cd elemento*/
.aside-card-title-reaction::before {
  background: url("../assets/images/icon-reaction.svg");
  background-size: contain;
}

.aside-card-title-memory::before {
  background: url("../assets/images/icon-memory.svg");
  background-size: contain;
}

.aside-card-title-verbal::before {
  background: url("../assets/images/icon-verbal.svg");
  background-size: contain;
}

.aside-card-title-visual::before {
  background: url("../assets/images/icon-visual.svg");
  background-size: contain;
}

.aside-card-value {
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 2rem;
  color: var(--neutral-dark-gray-blue);
}

.aside-card-value::after {
  content: " / 100";
  padding-left: .6rem;
  color: var(--neutral-light-lavender);
}

/*BOTON*/
.btn-continue {
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid transparent;
  outline: none;
  color: var(--neutral-white);
  background-color: var(--neutral-dark-gray-blue);
  border-radius: 100vw;
  font-weight: bold;
  width: 100%;
  max-width: 450px;
  padding: 0.8rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform .3s ease, background .3s ease;
}

.btn-continue:hover {
  transform: scale(1.01) translateY(-0.125em);
  background-image: linear-gradient(to bottom, var(--gradient-light-slate-blue) 20%, var(--gradient-violet-blue) 100%);
}

/*DESKTOP*/
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .subcontainer {
    grid-template-columns: repeat(2, 368px);
    border-radius: 2.5rem;
    box-shadow: 0 0 8px 1px;
  }

  .main {
    padding: 12px 0;
    border-radius: inherit;
  }

  .main-header {
    margin-bottom: 0.8rem;
  }

  .main-percentage {
    width: 180px;
    height: 180px;
    margin-bottom: 1rem;
  }

  .main-percentage p {
    font-size: 3.8rem;
  }

  .main-percentage p>span {
    font-size: 1rem;
  }

  .main-paragraph {
    font-size: 1.1rem;
    max-width: 275px;
  }

}